CRM_HOST=127.0.0.1
CRM_PORT=3015
CRM_DB_PATH=./data/crm.sqlite
CRM_ADMIN_USER=irina
CRM_ADMIN_PASSWORD=change-me
CRM_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://stydiyatsi.ru,https://www.stydiyatsi.ru
CRM_BACKUP_DIR=./backups
CRM_BACKUP_KEEP_DAYS=14
